In [16]:
 # Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete_test.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [98]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [29]:
#Calculate the total number of schools
total_schools = school_data_complete['school_name'].nunique()
total_schools

15

In [30]:
#Calculate the total number of students
total_students = school_data_complete['student_name'].count()
total_students

39170

In [104]:
#Calculate the total budget
budget = school_data_complete['budget'].unique()
budget_df = pd.DataFrame(budget)
total_budget = budget_df[0].sum()
total_budget

24649428

In [53]:
#Calculate the average math score
average_math_score = school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

In [54]:
#Calculate the average reading score
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [89]:
#Calculate the percentage of students with a passing math score (70 or greater)
passing_math_df = school_data_complete.loc[(school_data_complete['math_score'] >= 70), :]

passing_math = (passing_math_df['student_name'].count() / total_students)*100

passing_math

74.9808526933878

In [90]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_df = school_data_complete.loc[(school_data_complete['reading_score'] >= 70), :]

passing_reading = (passing_reading_df['student_name'].count() / total_students)*100

passing_reading

85.80546336482001

In [91]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
passing_both_df = passing_math_df.loc[(passing_math_df['reading_score'] >= 70),:]

passing_both = (passing_both_df['student_name'].count() / total_students)*100
passing_both

65.17232575950983

In [105]:
#Create a dataframe to hold the above results
district_summary_df = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math],
    "% Passing Reading": [passing_reading],
    "% Overall Passing": [passing_both]
})

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [125]:
#Create an overview table that summarizes key metrics about each school
grouped_school_df = school_data_complete.groupby(['school_name'])

grouped_school_df.count().head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468

In [150]:
school_type = grouped_school_df[['type']].last()
school_type

                           type
school_name
Bailey High School     District
Cabrera High School     Charter
Figueroa High School   District
Ford High School       District
Griffin High School     Charter
Hernandez High School  District
Holden High School      Charter
Huang High School      District
Johnson High School    District
Pena High School        Charter
Rodriguez High School  District
Shelton High School     Charter
Thomas High School      Charter
Wilson High School      Charter
Wright High School      Charter